<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Persona</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Registro de Personal</h1>
        
        <a href="/administrar" class="administrar-link">Administrar Registros</a>
        <div class="separator"></div>

        <!-- Mensaje de confirmación -->
        {% if mensaje_confirmacion %}
            <div class="mensaje-exito">
                <p>{{ mensaje_confirmacion }}</p>
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for('registrar') }}">
            <input type="text" name="dni" placeholder="DNI" required>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="text" name="direccion" placeholder="Dirección" required>
            <input type="text" name="telefono" placeholder="Teléfono" required>
            <button type="submit">Registrar</button>
        </form>
        

      
        <ul>
            {% for persona in registros %}
                <li>
                    <p>{{ persona[2] }} {{ persona[3] }} (DNI: {{ persona[1] }})</p>
                    <form action="{{ url_for('eliminar_registro', dni=persona[1]) }}" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>
